@font-face {
    font-family: "Camphor";
    src: url("/fonts/CamphorPro-Regular.ttf");
}
@font-face {
    font-family: 'Metropolis';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Metropolis-Light.woff");
}
@font-face {
    font-family: 'Metropolis';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Metropolis-Bold.woff2") format("woff2");
}

html {
    font-family: "Camphor";
    color: rgb(82, 95, 127);
}

body {
    margin: 0px;
}

h1 {
    font-family: "Metropolis";
    font-weight: 800;
}

h1 {
    color: black;
}

img {
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 3;
    position: relative;
}

.hero {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8px;
    padding-inline-start: 24px;
    max-width: 1280px;
    margin: 0 auto;
}

.background-wrapper {
}

.hero {
    padding: 100px 0 240px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    color: white;
}

.hero h1 {
    color: white;
}

.hero a, .hero p {
    color: white;
}

.hero .hero-content {
    padding-inline-end: 32px;
}

.hero .hero-image img {
    transform: scale(1) perspective(1000px) rotateY(-13deg) rotateX(4deg) rotate(1deg);
    box-shadow: 40px 40px 0px 0px rgba(45, 39, 89, 1);
}

@media (max-width: 800px) {

    .hero {
        grid-template-columns: none;
        padding: 40px 0;
    }

    .hero .hero-image img {
        transform: none;
        box-shadow: none;
    }

    .hero .hero-image {
        grid-row-start: 1;
    }

    .hero .hero-content {
        padding-inline-end: 32px;
        padding-top: 20px;
    }
}
h1 {
    line-height: 34px;
    font-size: 24px;
    font-weight: 600;
}
h2 {
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
}
body {
    background: linear-gradient(139.48deg, #2B2657 11.93%, #A043BB 92.82%) no-repeat fixed;
}

h1 a {
    color: white;
    text-decoration: none;
}

h1 a:visited {
    color: white;
}

.survey-button {
  background: #04a7f0;
  color: white;
  margin-inline-end: 12px;
}

.hero .buttons a {
  text-decoration: none;
}

.hero .button {
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  display: inline-block;
  padding: 10px 18px 9px;
  border-radius: 10px;
  margin-top: 16px;
  line-height: 1.5em;
  text-transform: uppercase;
}
