body {
  font-family: "inter", "Open Sans", X-LocaleSpecific, sans-serif;
  padding: 0;
  margin: 0;
}

#twitter {
  background: #ffff8e;
  text-align: center;
  color: #9c7c04;
  line-height: 30px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-bottom: calc(100vw / 15) solid #fff;
}

.mockup {
  padding: 100px;
  width: 100%;
  background: #ccc;
}

header {
  display: flex;
  align-items: center;
  padding: 15px;
}

#header-links {
  margin-right: 10px;
}

header a {
  color: #000;
  margin-left: 10px;
  text-decoration: none;
}

#header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

#mozilla-logo {
  width: 45px;
  height: 45px;
  background-image: url(/assets/mozilla.svg);
  background-size: 100% 100%;
}

#beta {
  background: linear-gradient(
    107.15deg,
    #0165e4 -130.13%,
    #04a7f0 14.67%,
    #08eefe 157.57%
  );
  color: white;
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 7px;
}
#mozilla {
  background-size: 84px, 24px;
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap;
  background-image: url("/assets/mozilla-logo.svg");
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  margin-top: 0px;
  width: 84px;
  margin-left: 15px;
}

#webreplay-title {
  margin-left: 10px;
  font-size: 22px;
  font-weight: lighter;
}

.above-fold {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.above-fold h1 {
  font-weight: 900;
  font-size: 52px;
  margin: 0;
  margin-top: 20px;
  font-family: "Metropolis";
  font-weight: "800";
  text-align: center;
}

.above-fold h2 {
  margin: 0;
  margin-top: 15px;
  max-width: 560px;
  font-family: "Inter";
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  color: #898989;
}

.replay-logo {
  z-index: 10;
  margin-top: 80px;
  align-self: center;
}

.header.replay-logo {
  z-index: 10;
  margin-top: 0;
  align-self: center;
  width: 40px;
}

.dotted-line {
  width: 5px;
  height: 800px;
  background-image: url(/assets/dotted-line.svg);
  background-size: 100% 1380px;
  left: calc(50% - 3px);
  position: absolute;
  z-index: -1;
  margin-top: 160px;
}

.wave {
  width: 100%;
  height: 100%;
  background-image: url(/assets/wave.svg);
  background-size: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.demo {
  position: relative;
  width: 100%;
  background-image: url(/assets/wave.svg);
  background-size: cover;
  height: 12;
  background-position: initial;
  margin-top: 100px;
}

.demo img {
  display: block;
  width: calc(100% - 200px);
  max-width: 1200px;
  margin: 80px auto 0;
  margin-bottom: 145px;
}

.content {
  margin: 0px auto 100px;
  background: white;
}

h3 {
  display: block;
  margin: 41px auto 0px;
  font-family: "Metropolis";
  font-weight: bold;
  font-size: 29px;
  line-height: 40px;
}

p {
  margin: 30px 60px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  max-width: 810px;
  font-size: 23px;
}

ul {
  display: block;
  font-size: 18px;
  font-weight: 300;
  max-width: 1100px;
  margin: 32px 20px;
  line-height: 36px;
  font-size: 20px;
}

ol {
  margin: 8px;
  line-height: 24px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  max-width: 800px;
  font-size: 18px;
  line-height: 34px;
}

.instant-replay h3 {
  color: #b01828;
  text-align: center;
}

.instant-replay p {
  color: rgba(168, 0, 18, 0.69);
  text-align: center;
  margin-bottom: 50px;
}

.instant-replay img.logo {
  margin: 0 auto;
  display: block;
  width: 60px;
}

.features,
.instant-replay {
  width: 80vw;
  max-width: 1040px;
  margin: 0px auto;
}

.line-divider {
  margin: 100px auto;
  display: block;
  width: 100%;
}

.features .feature-title {
  display: flex;
}

.features .feature-title h3 {
  align-self: center;
  margin: 0px 0px 0px 20px;
}

.features .feature-title img {
  display: inline;
  flex-grow: 0;
  align-self: center;
}

.features > div {
  margin: 80px auto 0;
  max-width: 1200px;
}

.features .logs {
  color: rgba(127, 73, 152, 0.7);
}

.features .feature-title img.logo {
  width: 36px;
}

.features .logs h3 {
  color: #7f4998;
}

.features .logs ul {
  list-style-image: url(/assets/bullet-logs.svg);
}

.features .progress {
  display: block;
  width: 100%;
  margin-top: 100px;
}

.features .inspect {
  color: rgba(69, 101, 136, 0.8);
}

.features .inspect h3 {
  color: #456588;
}

.features .inspect ul {
  list-style-image: url(/assets/bullet-inspector.svg);
}

.features .saved {
  color: rgba(59, 52, 144, 0.8);
}

.features .saved h3 {
  color: #3b3491;
}

.features .saved ul {
  list-style-image: url(/assets/bullet-saved.svg);
}

.learn-more {
  text-decoration: none;
}

button {
  border: solid 1px;
  border-radius: 9px;
  width: 290px;
  height: 70px;
  font-size: 31px;
  line-height: 42px;
  font-family: Inter;
  color: #ce03e0;
  margin: 110px auto 0px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

button span {
  flex-grow: 1;
}

.testimonials {
  display: none;
  background: linear-gradient(180deg, #aa55df 5%, #391dc6 80%);
  padding: 0px 0px 100px;
  font-family: "Open Sans", serif;
}

.testimonials-content h3 {
  font-style: italic;
  font-family: "Open Sans", serif;
  color: white;
  font-weight: 400;
  color: #e8cff6;
  width: 50%;
  margin-bottom: 50px;
  text-align: center;
}

.testimonials-item {
  background: linear-gradient(352.83deg, #d17ffa -9.68%, #b66af8 111.71%);
  box-shadow: 8px 9px 16px rgba(0, 0, 0, 0.65);
  border-radius: 18px;
  width: 80vw;
  max-width: 900px;
  color: white;
  display: flex;
  align-items: center;
  padding: 50px 30px;
  margin: 30px auto;
}

.testimonials-item img {
  flex-shrink: 1;
}

.testimonials-item-content {
  flex-grow: 1;
  margin-left: 40px;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 80px;
  left: -40px;
  top: -30px;
  position: relative;
  height: 0;
  font-family: serif;
  opacity: 0.5;
}

blockquote::after {
  content: "\201D";
  display: block;
  font-size: 80px;
  float: right;
  right: -20px;
  bottom: 10px;
  position: relative;
  height: 0;
  font-family: serif;
  opacity: 0.5;
}

.testimonials-author {
  margin: 30px 0px 0px 40px;
}

.footer {
  background: linear-gradient(153.77deg, #523c96 23.55%, #351b6d 78.65%);
  color: #c0b6df;
  margin: 0 auto;
  padding-bottom: 50px;
}

.footer a {
  color: white;
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: none;
  font-style: italic;
}

.footer h3 {
  width: 50%;
  margin: 0px;
  color: #c7bee5;
  margin-left: 0;
  font-style: italic;
  font-size: 24px;
}

.footer li {
  margin-left: -50px;
}

.footer-content {
  max-width: 1040px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-copy {
  margin-top: 40px;
}
.bottom-logo {
  shape-outside: polygon(0px 0px, 100% 0px, 100% 100%);
  clip-path: polygon(-1px -1px, 100% -1px, 100% 100%);
  width: 100%;
  background-color: #ffffff;
  height: 100px;
}

.testimonials .bottom-logo {
  background-color: white;
  margin-bottom: 50px;
}

.nightly-logo {
  background: url(assets/nightly.svg) no-repeat;
  height: 100px;
  background-size: contain;
  background-position: center;
  margin-top: -100px;
  position: relative;
}

@media (max-width: 750px) {
  #header-links {
    display: none;
  }

  #header-logo {
    justify-content: center;
  }

  .above-fold h1 {
    font-size: 42px;
  }

  .above-fold h2 {
    font-size: 22px;
    padding: 5px 10px;
  }

  .demo img {
    width: calc(100% - 60px);
  }

  .dotted-line {
    height: 600px;
  }

  .content {
    margin: 50px auto 200px auto;
  }

  p {
    width: calc(100% - 40px);
    margin-left: 20px;
  }

  .testimonials-item-content {
    margin-left: 0px;
  }

  blockquote::after {
    bottom: 20px;
    right: -30px;
  }

  .testimonials-author {
    margin-top: 40px;
  }

  .footer p,
  .footer h3 {
    width: calc(100% - 40px);
    max-width: none;
  }
}

.videos .content {
  width: 800px;
}

.videos .above-fold {
  margin-bottom: 40px;
}

.videos h1 {
  color: #f30698;
  font-size: 40px;
  font-weight: normal;
  font-family: "Inter";
}

.videos .video {
  margin-top: 60px;
}

.video .description {
  color: #525252;
  margin-bottom: 20px;
  width: 600px;
}

.dashed-border::before {
  background-image: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 50%
  );
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  content: "";
}

.dashed-border::after {
  background-image: linear-gradient(
    270deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 50%
  );
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  content: "";
}

.dashed-border {
  display: block;
  position: relative;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    transparent,
    transparent 50%,
    #f30698 50%,
    #f30698 100%
  );
  background-size: 40px;
  border: none;
  width: 800px;
  margin-top: 20px;
}
